
.cat {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  vertical-align: middle;
}

.search-bar {

  margin: 0px 10px 0px 10px;
  width: 200px;
  border: none;
  height: 30px;
  font-size: 15px;
  vertical-align: middle;
}

.tweet-button {

  vertical-align: middle;
  background-color: rgb(13, 149, 203);
color: white;
font-size: 16px;
font-weight: bold;
padding: 5px 15px 5px 15px;
border:none;
border-radius: 25px;
}